footer {
  text-align: left;
  padding: 30px 30px;
  /* 세로여백 가로여백 */
  background-color: #05001d;
  width: 100%;
  /* 화면 너비에 맞게 */
  box-sizing: border-box;
}

footer p {
  color: #ffffff;
  font-size: 13px;
  line-height: 0.6;
}

/* 모바일 화면용 스타일 */
@media (max-width: 375px) {
  footer p {
    font-size: 12px;
  }
}