.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 12px 16px;
  font-size: 18px;
  border: none;
  background-color: #71d9e5;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  z-index: 9000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #65c5cf;
  transform: scale(1.05);
}
