@import url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css');

/* * {
  cursor: none !important;
} */
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  font-weight: 300;
  background: #ffffff;
  text-align: justify;
}

.app-container {
  margin: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
  padding: 30px;
}

h1, h2 {
  color: #000000;
}

p {
  color: #17153B;
  line-height: 1.6;
}

.map-links a {
  margin-right: 10px;
  color: #0036a3;
  text-decoration: underline;
}

/* 모바일 화면용 스타일 */
@media (max-width: 375px) {
  header {
    font-size: 18px;
  }

  h1, h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}
